# Fichiers temporaires
*~
*.back*
#.*#

# Binaires compilés
*.o
*.so

# Bibliothèques C
*.a

# Fichiers java compilés
*.class

# Documentation/LaTeX compilée
*.pdf
*.dvi
*.aux
*.log
*.nav
*.out
*.toc
*.snm

# Fichiers cmakefiles
*CMakeFiles*

# Fichiers générés par des IDE
*.kdev4

#Project files eclipse
*.metadata*
**/OTPToken/gen/**
*project.properties
**/OTPToken/.*
**/AndroidToken/.*
**/OTPToken/bin/**
