# Fichiers temporaires
*~

# Binaires compilés
*.o
*.so

# Bibliothèques C
*.a

# Fichiers java compilés
*.class

# Documentation/LaTeX compilée
*.pdf
*.dvi
*.aux
*.log
*.nav
*.out
*.toc
*.snm

# Fichiers générés par des IDE
*.kdev4
